kubejs/exported
banned-ips.json
banned-players.json
crafty_managed.txt
db_stats
defaultconfig
forge-1.18.2.jar.log
libraries
logs
mods
ops.json
usercache.json
user_jvm_args.txt
whitelist.json
world
devworld
journeymap
local
coremods
crash-reports

